@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #222831;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100%;
    height: 10vh;

    font-size: 4vh;

    position: absolute;
    border: none;

    background-color: #00ADB5;
}

button:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

#cardId {
    top: 0;
}



#editBtn {
    bottom: 0;
}

.card {
    height: 40vw;
    max-height: 500px;
    aspect-ratio: 2;

    font-size: 20vw;
    word-wrap: break-word;

    background-color: #EEEEEE;

    text-align: center;
    align-content: center;

    user-select: text;

    container-type: inline-size;
}

.card p {
    font-size: 5vw;
    padding: 7vw;
}