<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCard</title>
    <link rel="stylesheet" href="/static/card/card.css">
    <script src="/static/card/card.js"></script>

</head>

<body>
    <button id="cardId" OnClick=" location.href='/'">
        {{id}}
    </button>
    <div class="card">
        <p id="textbox"></p>
    </div>
    <button id="editBtn">
        Edit
    </button>
</body>

</html>