<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashCard - Edit</title>
    <link rel="stylesheet" href="/static/edit/edit.css">
    <script src="/static/edit/edit.js"></script>
</head>

<body>
    <button id="cardId" OnClick=" location.href='/'">
        {{id}}
    </button>
    <div class="card">
        <p id="textbox"></p>
    </div>
    <button id="editBtn">
        Save
    </button>
</body>

</html>